<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Detail</title>
</head>
<body>
    <h1><%= event.title %></h1>
    <p><%= event.tag %></p>
    <p><%= event.description %></p>
    <p>Start Date: <%= event.startDate %></p>
    <p>End Date: <%= event.endDate %></p>
    <!-- Include other event details as necessary -->
</body>
</html>
